# EditorConfig is awesome: http://EditorConfig.org
# See for more details:
# - https://github.com/dotnet/format/blob/main/.editorconfig
# - https://github.com/dotnet/format/blob/main/docs/Supported-.editorconfig-options.md

root = true

[*]
indent_style = space

[*.sln]
indent_style = tab

# Code files
[*.{cs,csx,vb,vbx,fs,fsx,fsi}]
indent_size = 4
max_line_length = 120
insert_final_newline = true
charset = utf-8

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 4

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 4

[*.{json,yaml,yml}]
indent_size = 2

[*.sh]
end_of_line = lf
indent_size = 4

[*.md]
trim_trailing_whitespace = true
insert_final_newline = true
